.btn-collapse {
    padding:0.5em;
}

.btn-collapse .btn-vector-descr {
    margin-left:1em;
    float: right;
    padding-top: 0.2em;
}

.btn-img-collapse {
}

.btn-navbar{

}

.btn-navbar .btn-vector-img {
    height: 1.5em;

}

.btn-navbar .btn-vector-descr {
    display: block;
}

.btn-vector {
    background-color: transparent;
    border: transparent;
    transition: transform .2s;
    outline: none;
    height: 2em;
}

.btn-vector-img {
    height: 2em;
}

.btn-vector:hover{
    transform: scale(1.2);
}

.btn-vector:focus {
    outline: none;
}

.btn-vector:active {
    transform: scale(1.5);
}

.btn-navbar .btn-vector-descr {
    color: white;
}

.btn-navbar .btn-vector-descr {
    font-size: 1em;
}

.btn-vector-img:not(.btn-brand-img, .btn-vector-img) {
    height: 2em;
}

.btn-img-card {
    height: 2em;
}

.btn-kebab {
    height: 2.5em;
}

.btn-img-kebab {
    height: 2em;
}