.collapsible-header {
    position: sticky;

}

.collapsible-header-ul {
    margin: 1em;
    
}

.collapsible-header-li {
    display: inline;
    margin: 1em;

}

.collapsible-header-toggle {
    
}

.collapsible-header-bckgrd {
    
}
