.metadata h1 {
    color:black;
}

.metadata  .jumbotron {
    margin:0;
    padding-top:0.5em;
    padding-bottom:0.5em;
    background-color: transparent;
}

.metadata-title {
    display: inline;
}

.btn-edit-metadata {

}

.jumboline {
    display: inline;

}