.link {
    text-decoration: none;
}

.favourites Input {
}

.card-img {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.card-footer {
    text-align: center;
}

.info_alert {
    width:100%;
    text-align: center;
}