.navbar {
    position: fixed;
    top: 0;
    z-index: 1;   

    background-color: #fff;  
}

.mainHeader {
    background-color: #002540;
    color:white;
    
}

.navbar-brand .btn-vector-img {
    height: 1.5em;
}


.navbar-brand .btn-vector:hover{
    transform: scale(1.2);
}


.navbar .menu p {
    color:white;
}

.breadcrumb {
    background-color: #002540;
}

 
.hamburger {
    cursor: pointer;
}
