.table {
    width: 90%;
}

.menuBtn {
    background-color: transparent; 
    border: none;
    position: fixed;
    bottom: 0;    
}

.menuBtn:hover {
    background-color: transparent;
    border: none;
}

.backBtn {
    transform: translate(-10%, -50%);
}

.btnGroupNew {
    right: 0;
    transform: translate(-50%, -50%);
}


.btnImg {
    height: 5rem;
}

table {
    min-width: 100%;

}

.row{
    margin-bottom: 20px;
}


.menuBtnContent {
    margin-right: 5em;
    width: 40%;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.menuBtnContent .dropdown-divider {
    opacity: 0;
}


.buttonMenu button{
    margin-right: 0.5em;
}

.searchFiles {
    float:right;
}

