.searchFiles {
    width:100%;
    float:right;
}

.table {
    width: 90%;
}

.row{
    margin-bottom: 20px;
}

.floatingActionButton {
    position: fixed;
    bottom: 0; 
    background-color: transparent;   
}

.fabBtn:hover {
    background-color: transparent;
    border: none;
}

.fabBack {
    background-color: transparent;
    transform: translate(-10%, -50%);
}

.fabNew {
    right: 0;
    transform: translate(-50%, -50%);
    background-color: transparent;
}


.fabImg {
    height: 5rem;
    background-color: transparent;
}


.fabContentContainer {
    margin-right: 5em;
    width: 40%;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.fabContentContainer .dropdown-divider {
    opacity: 0;
    background-color: transparent;
}


.fab button{
    margin-right: 0.5em;
}



