.table {
    width: 100%;
    margin: 0px auto;
}

.modalBtn {
    right: 0;
    border: none;
    background-color: transparent;
    float: right;
}

.modalBtn:hover{
    background-color: transparent; 
}

.tabItem{
    cursor: pointer;
}


/* CHECKBOX */

label {
    font-size: 40px
}

.custom-checkbox {
display: table;
position: relative;
cursor: pointer;
margin-top: -5px;
}

.custom-checkbox .glyphicon{
color: gold;
position: absolute;
font-size: 0.75em;

}

.custom-checkbox .glyphicon-star-empty {
color: gray;
}

.custom-checkbox .glyphicon-star {
opacity: 0;
transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-star{
opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
opacity: 1;
}

