.navbar {
    position: fixed;
    top: 0;
    z-index: 1;   
    background-color: #fff;  
}

.mainHeader {
    background-color: #002540;
    color:white;
}



.navbar-brand img{
    height:2em;
}

.navbar .menu p {
    color:white;
}

.breadcrumb {
    background-color: #002540;
    /* transform: translate(0%, 30%); */
}

