.navbar {
    position: fixed;
    top: 0;
}



.navbar-brand img{
    height:2em;
}


.navbar {
    background-color: #002540;
    color:white;
    /* z-index: 1; */
}

.navbar .menu p {
    color:white;
}

.breadcrumb {
    background-color: #002540;
    /* transform: translate(0%, 30%); */
}

