.navbar-brand img{
    height:1.3em;
}


.navbar {
    border-radius: 0;
    width: 100%;
    background-color: #002540;
    color:white;
    height:4.5em;
}

.navbar .menu p {
    color:white;
}

.breadcrumb {
    background-color: #002540;
    margin-top:1em;
}