.sidebar {
    height:100%;
    margin-top:4.96em;
    padding-top:2em;
    position: fixed;
    bottom:0;
    top:0;
    left:0; 
    z-index: 999;
    border-right: 1px solid;
    border-color: #9B9B9B;
}

.sidebar .menu p {
    color:black;
}

.sidebar .menu a {
    /* Farge til lenker */
}

