.jumboMenu  {
 
}

.searchFiles {
    color: #000;
}

.table {
    width: 100%;
}

.row{
    margin-bottom: 20px;
}

.word_break {
    word-break: break-word;
}
.btn-group-right {
    float: right;
}

.vector-img {
    height: 2.5em;
}

.file-kebab {
    display: none;
}

.file-tr:hover .file-kebab{
    display: block;
}