.jumboMenu  {
 
}

.searchFiles {
    color: #000;
}

.table {
    width: 100%;
}

.row{
    margin-bottom: 20px;
}

.word_break {
    word-break: break-word;
}

.vector-img {
    width: 2em;
}


.file-tr:hover .file-kebab{
    display: block;
}

.td-btn {
    width: 2em;
}

.td-file-title {

}

.td-file-icon {
    width: 2em;
}